* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

:root {
    --primary-color: #0b132a;
    --secondary-color: #4f5665;
    --third-color: #fff;
    --accent-color: #F53838;
}

.header {
    padding: 50px 0 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__company-name {
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color);
    margin-left: 10px;
}

.header__company-name .span {
    font-weight: 700;
    text-transform: uppercase;
}

.header__navigation {
    display: flex;
    align-items: center;
}

.header__navigation-item {
    margin: 0 20px;
}

.header__navigation-link {
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 16px;
}

.header__button {
    padding: 13px 45px;
    font-weight: 500;
    font-size: 16px;
    color: var(--primary-color);
}

.header__button_focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 50px;
}

/* Section main */
.main {
    padding-top: 90px;
}

.main .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.main__headline {
    margin-top: 30px;
    font-size: 50px;
    font-weight: 500;
    color: var(--primary-color);
}

.main__headline .span {
    font-weight: 700;
}

.main .section-description {
    margin: 30px 0 60px;
}

/* Stats section */
.stats {
    margin-top: 65px;
    padding: 37.5px 0;
}

.stats .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 30px 50px -50px #adadad;
    padding: 37.5px 90px;
}

.stats__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 125px;
}

.stats__item_border {
    border-left: 2px solid #eeeff2;
    border-right: 2px solid #eeeff2;
    padding: 0 120px;
}

.stats__img {
    margin-right: 36.5px;
}

.stats__number {
    font-size: 25px;
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 10px;
}

.stats__desc {
    font-size: 20px;
    color: var(--secondary-color);
    font-weight: 400;
}

/* Features section  */
.features {
    padding: 55px 0 130px;
}

.features .container_small {
    max-width: 920px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 170px;
}

.features .section-headline {
    margin: 40px 0 20px;
}

.features__list {
    margin-top: 30px;
}

.features__list-item {
    background: url(../img/checks.png) left;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5px 0 5px 33px;
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 400;
}

.features__list-item:not(:last-child) {
    margin-bottom: 21px;
}



/* Utility classes */

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.container_small {
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
}

.section-photo {
    width: 100%;
}

.section-headline {
    font-size: 35px;
    color: var(--primary-color);
    font-weight: 500;
    text-align: center;
}

.section-headline_left {
    text-align: left;
}

.section-description {
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-color);
    text-align: center;
}

.section-description .span {
    font-weight: 500;
}

.section-description_left {
    text-align: left;
}

.btn {
    color: var(--third-color);
    padding: 18px 78px;
    background: var(--accent-color);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
}

/* Utility classes end*/
